XML/1.xsd

<?xml version="1.0"?>
	
	<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:simpleType name="ana">
			<xs:restriction base="xs:string">
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
		
		<xs:element name="playlist">
			<xs:complexType>
			<xs:sequence>
				<xs:element name="song" maxOccurs="9">
				<xs:complexType>
				<xs:sequence>
					<xs:element name="name" type="xs:string"/>
					<xs:choice>
						<xs:element name="artist" type="xs:string"/>
						<xs:element name="album" type="ana"/>
					</xs:choice>
					<xs:element name="duration" type="xs:int"/>
				</xs:sequence>
				<xs:attribute name="lang" type="xs:string"/>
				</xs:complexType>
				</xs:element>
			</xs:sequence>
			</xs:complexType>
		</xs:element>
	</xs:schema>