XML/std.xsd

<?xml version="1.0"?>
	
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name = "student">
		<xs:complexType>
			<xs:sequence>
				<xs:element name = "sid" type = "xs:int"/>
				<xs:element name = "sname" type = "xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
